body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #fdc800;
    padding: 30px;
    height: 100px;
    display: flex;

}
#logo{
    display: flex;
    width: 200px;
    height: 200px;
    margin-inline-start: 400px;
    margin-top: -80px;

}
.informaçoes{
    display: flex;
    margin-top: 70px;
    margin-inline-start: -280px;
    gap: 30px;
    padding: 2%;
    list-style: none;
}
.informaçoes a{
    text-decoration: none;
    color: white;
}
.informaçoes a:hover{
    background-color: white;
    padding: 10px;
    color: #fdc800;
}
.artigo1{
    width: 400px;
    height: 100px;
    padding-bottom: 300px;
    margin-left: 10%;
}
#titulo1{
    color: #fdc800;
    margin-left: 10%;
}
#titulo1 a{
    color: #fdc800;
    list-style: none;
      text-decoration: none;
}
#sub1{
    margin-left: 10%;
}
#img1{
    margin-left: 10%;
    width: 400px;
}
.artigo2{
    width: 400px;
    height: 100px;
    padding-bottom: 350px;
    
    margin-top: 100px;
    margin-left: 10%;
}
#titulo2{
    margin-left: 10%;
    color: #fdc800;
}
#titulo2 a{
    color: #fdc800;
    list-style: none;
      text-decoration: none;
}
#sub2{
    margin-left: 10%;
}
#img2{
    margin-left: 10%;
    width: 400px;
}
.postagens{
    float: right;
    margin-top: -950px;
    margin-right: 10%;
}
.titulo{
    background-color: rgb(223, 218, 218);
    width: 100%;
    font-size: 125%;
}
.noticia1{
    font-size: 100%;
}
.link{
    color: #fdc800;
    text-decoration: none;
}
.categorias{
     float: right;
    margin-top: -700px;
    margin-right: 25%;
}
.tcategorias{
    background-color: rgb(223, 218, 218);
    width: 200%;
    font-size: 125%;
}
.licategorias{
    color: #fdc800;
    list-style: none;
    margin-left: -40%;
    font-size: 120%;
}
.licategorias a{
    text-decoration: none;
}
li{
    text-decoration: none;
}
li a{
    color: #fdc800;
    list-style: none;
}
footer{
    background-color: gray;
    padding: 1%;
    border: 1px;
    margin-top: 1%;
}
.rodapé{
    justify-content: center;
    display: flex;
    font-size: 100%
}